@font-face {
  font-family: 'eleso';
  src:  url('fonts/eleso.eot?hgmz3f');
  src:  url('fonts/eleso.eot?hgmz3f#iefix') format('embedded-opentype'),
    url('fonts/eleso.ttf?hgmz3f') format('truetype'),
    url('fonts/eleso.woff?hgmz3f') format('woff'),
    url('fonts/eleso.svg?hgmz3f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eleso' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accessible-icon-alt:before {
  content: "\e900";
}
.icon-adjust:before {
  content: "\e901";
}
.icon-adjust-alt:before {
  content: "\e902";
}
.icon-adjust-circle:before {
  content: "\e903";
}
.icon-adjust-half:before {
  content: "\e904";
}
.icon-adobe:before {
  content: "\e905";
}
.icon-adobe-alt:before {
  content: "\e906";
}
.icon-airplay:before {
  content: "\e907";
}
.icon-align:before {
  content: "\e908";
}
.icon-align-alt:before {
  content: "\e909";
}
.icon-align-center:before {
  content: "\e90a";
}
.icon-align-center-alt:before {
  content: "\e90b";
}
.icon-align-center-h:before {
  content: "\e90c";
}
.icon-align-center-justify:before {
  content: "\e90d";
}
.icon-align-center-v:before {
  content: "\e90e";
}
.icon-align-justify:before {
  content: "\e90f";
}
.icon-align-left:before {
  content: "\e910";
}
.icon-align-left-justify:before {
  content: "\e911";
}
.icon-align-letter-right:before {
  content: "\e912";
}
.icon-align-right:before {
  content: "\e913";
}
.icon-align-right-justify:before {
  content: "\e914";
}
.icon-amazon:before {
  content: "\e915";
}
.icon-ambulance:before {
  content: "\e916";
}
.icon-analysis:before {
  content: "\e917";
}
.icon-analytics:before {
  content: "\e918";
}
.icon-android:before {
  content: "\e919";
}
.icon-android-alt:before {
  content: "\e91a";
}
.icon-android-phone-slash:before {
  content: "\e91b";
}
.icon-angle-double-down:before {
  content: "\e91c";
}
.icon-angle-double-left:before {
  content: "\e91d";
}
.icon-angle-double-right:before {
  content: "\e91e";
}
.icon-angle-double-up:before {
  content: "\e91f";
}
.icon-angle-down:before {
  content: "\e920";
}
.icon-angle-left:before {
  content: "\e921";
}
.icon-angle-left-b:before {
  content: "\e922";
}
.icon-angle-right:before {
  content: "\e923";
}
.icon-angle-right-b:before {
  content: "\e924";
}
.icon-angle-up:before {
  content: "\e925";
}
.icon-ankh:before {
  content: "\e926";
}
.icon-apple:before {
  content: "\e927";
}
.icon-apple-alt:before {
  content: "\e928";
}
.icon-apps:before {
  content: "\e929";
}
.icon-archive:before {
  content: "\e92a";
}
.icon-archive-alt:before {
  content: "\e92b";
}
.icon-arrow:before {
  content: "\e92c";
}
.icon-arrow-break:before {
  content: "\e92d";
}
.icon-arrow-circle-down:before {
  content: "\e92e";
}
.icon-arrow-circle-left:before {
  content: "\e92f";
}
.icon-arrow-circle-right:before {
  content: "\e930";
}
.icon-arrow-circle-up:before {
  content: "\e931";
}
.icon-arrow-compress-h:before {
  content: "\e932";
}
.icon-arrow-down:before {
  content: "\e933";
}
.icon-arrow-down-left:before {
  content: "\e934";
}
.icon-arrow-down-right:before {
  content: "\e935";
}
.icon-arrow-from-right:before {
  content: "\e936";
}
.icon-arrow-from-top:before {
  content: "\e937";
}
.icon-arrow-growth:before {
  content: "\e938";
}
.icon-arrow-left:before {
  content: "\e939";
}
.icon-arrow-random:before {
  content: "\e93a";
}
.icon-arrow-resize-diagonal:before {
  content: "\e93b";
}
.icon-arrow-right:before {
  content: "\e93c";
}
.icon-arrow-to-bottom:before {
  content: "\e93d";
}
.icon-arrow-to-right:before {
  content: "\e93e";
}
.icon-arrow-up:before {
  content: "\e93f";
}
.icon-arrow-up-left:before {
  content: "\e940";
}
.icon-arrow-up-right:before {
  content: "\e941";
}
.icon-arrows-h:before {
  content: "\e942";
}
.icon-arrows-h-alt:before {
  content: "\e943";
}
.icon-arrows-left-down:before {
  content: "\e944";
}
.icon-arrows-maximize:before {
  content: "\e945";
}
.icon-arrows-merge:before {
  content: "\e946";
}
.icon-arrows-resize:before {
  content: "\e947";
}
.icon-arrows-resize-h:before {
  content: "\e948";
}
.icon-arrows-resize-v:before {
  content: "\e949";
}
.icon-arrows-right-down:before {
  content: "\e94a";
}
.icon-arrows-shrink-h:before {
  content: "\e94b";
}
.icon-arrows-shrink-v:before {
  content: "\e94c";
}
.icon-arrows-up-right:before {
  content: "\e94d";
}
.icon-arrows-v:before {
  content: "\e94e";
}
.icon-arrows-v-alt:before {
  content: "\e94f";
}
.icon-assistive-listening-systems:before {
  content: "\e950";
}
.icon-asterisk:before {
  content: "\e951";
}
.icon-at:before {
  content: "\e952";
}
.icon-atom:before {
  content: "\e953";
}
.icon-auto-flash:before {
  content: "\e954";
}
.icon-award:before {
  content: "\e955";
}
.icon-award-alt:before {
  content: "\e956";
}
.icon-baby-carriage:before {
  content: "\e957";
}
.icon-backpack:before {
  content: "\e958";
}
.icon-backspace:before {
  content: "\e959";
}
.icon-backward:before {
  content: "\e95a";
}
.icon-bag:before {
  content: "\e95b";
}
.icon-bag-alt:before {
  content: "\e95c";
}
.icon-bag-slash:before {
  content: "\e95d";
}
.icon-balance-scale:before {
  content: "\e95e";
}
.icon-ban:before {
  content: "\e95f";
}
.icon-band-aid:before {
  content: "\e960";
}
.icon-bars:before {
  content: "\e961";
}
.icon-baseball-ball:before {
  content: "\e962";
}
.icon-basketball:before {
  content: "\e963";
}
.icon-basketball-hoop:before {
  content: "\e964";
}
.icon-bath:before {
  content: "\e965";
}
.icon-battery-bolt:before {
  content: "\e966";
}
.icon-battery-empty:before {
  content: "\e967";
}
.icon-bed-double:before {
  content: "\e968";
}
.icon-bell:before {
  content: "\e969";
}
.icon-bell-school:before {
  content: "\e96a";
}
.icon-bell-slash:before {
  content: "\e96b";
}
.icon-bing:before {
  content: "\e96c";
}
.icon-black-berry:before {
  content: "\e96d";
}
.icon-bluetooth-b:before {
  content: "\e96e";
}
.icon-bolt-alt:before {
  content: "\e96f";
}
.icon-bolt-slash:before {
  content: "\e970";
}
.icon-book:before {
  content: "\e971";
}
.icon-book-alt:before {
  content: "\e972";
}
.icon-book-medical:before {
  content: "\e973";
}
.icon-book-open:before {
  content: "\e974";
}
.icon-book-reader:before {
  content: "\e975";
}
.icon-bookmark:before {
  content: "\e976";
}
.icon-bookmark-full:before {
  content: "\e977";
}
.icon-books:before {
  content: "\e978";
}
.icon-box:before {
  content: "\e979";
}
.icon-brackets-curly:before {
  content: "\e97a";
}
.icon-brain:before {
  content: "\e97b";
}
.icon-briefcase:before {
  content: "\e97c";
}
.icon-briefcase-alt:before {
  content: "\e97d";
}
.icon-bright:before {
  content: "\e97e";
}
.icon-brightness:before {
  content: "\e97f";
}
.icon-brightness-empty:before {
  content: "\e980";
}
.icon-brightness-half:before {
  content: "\e981";
}
.icon-brightness-low:before {
  content: "\e982";
}
.icon-brightness-minus:before {
  content: "\e983";
}
.icon-brightness-plus:before {
  content: "\e984";
}
.icon-bring-bottom:before {
  content: "\e985";
}
.icon-bring-front:before {
  content: "\e986";
}
.icon-browser:before {
  content: "\e987";
}
.icon-brush-alt:before {
  content: "\e988";
}
.icon-bug:before {
  content: "\e989";
}
.icon-building:before {
  content: "\e98a";
}
.icon-bullseye:before {
  content: "\e98b";
}
.icon-bus:before {
  content: "\e98c";
}
.icon-bus-alt:before {
  content: "\e98d";
}
.icon-bus-school:before {
  content: "\e98e";
}
.icon-calculator:before {
  content: "\e98f";
}
.icon-calculator-alt:before {
  content: "\e990";
}
.icon-calendar-alt:before {
  content: "\e991";
}
.icon-calendar-slash:before {
  content: "\e992";
}
.icon-calender:before {
  content: "\e993";
}
.icon-calling:before {
  content: "\e994";
}
.icon-camera:before {
  content: "\e995";
}
.icon-camera-change:before {
  content: "\e996";
}
.icon-camera-plus:before {
  content: "\e997";
}
.icon-camera-slash:before {
  content: "\e998";
}
.icon-cancel:before {
  content: "\e999";
}
.icon-capsule:before {
  content: "\e99a";
}
.icon-capture:before {
  content: "\e99b";
}
.icon-car:before {
  content: "\e99c";
}
.icon-car-sideview:before {
  content: "\e99d";
}
.icon-car-slash:before {
  content: "\e99e";
}
.icon-car-wash:before {
  content: "\e99f";
}
.icon-card-atm:before {
  content: "\e9a0";
}
.icon-caret-right:before {
  content: "\e9a1";
}
.icon-cell:before {
  content: "\e9a2";
}
.icon-celsius:before {
  content: "\e9a3";
}
.icon-channel:before {
  content: "\e9a4";
}
.icon-channel-add:before {
  content: "\e9a5";
}
.icon-chart:before {
  content: "\e9a6";
}
.icon-chart-bar:before {
  content: "\e9a7";
}
.icon-chart-bar-alt:before {
  content: "\e9a8";
}
.icon-chart-down:before {
  content: "\e9a9";
}
.icon-chart-growth:before {
  content: "\e9aa";
}
.icon-chart-growth-alt:before {
  content: "\e9ab";
}
.icon-chart-line:before {
  content: "\e9ac";
}
.icon-chart-pie:before {
  content: "\e9ad";
}
.icon-chart-pie-alt:before {
  content: "\e9ae";
}
.icon-chat:before {
  content: "\e9af";
}
.icon-chat-bubble-user:before {
  content: "\e9b0";
}
.icon-chat-info:before {
  content: "\e9b1";
}
.icon-check:before {
  content: "\e9b2";
}
.icon-check-circle:before {
  content: "\e9b3";
}
.icon-check-square:before {
  content: "\e9b4";
}
.icon-circle:before {
  content: "\e9b5";
}
.icon-circle-layer:before {
  content: "\e9b6";
}
.icon-circuit:before {
  content: "\e9b7";
}
.icon-clapper-board:before {
  content: "\e9b8";
}
.icon-clinic-medical:before {
  content: "\e9b9";
}
.icon-clipboard:before {
  content: "\e9ba";
}
.icon-clipboard-alt:before {
  content: "\e9bb";
}
.icon-clipboard-blank:before {
  content: "\e9bc";
}
.icon-clipboard-notes:before {
  content: "\e9bd";
}
.icon-closed-captioning:before {
  content: "\e9be";
}
.icon-closed-captioning-slash:before {
  content: "\e9bf";
}
.icon-cloud:before {
  content: "\e9c0";
}
.icon-cloud-block:before {
  content: "\e9c1";
}
.icon-cloud-bookmark:before {
  content: "\e9c2";
}
.icon-cloud-check:before {
  content: "\e9c3";
}
.icon-cloud-computing:before {
  content: "\e9c4";
}
.icon-cloud-data-connection:before {
  content: "\e9c5";
}
.icon-cloud-database-tree:before {
  content: "\e9c6";
}
.icon-cloud-download:before {
  content: "\e9c7";
}
.icon-cloud-info:before {
  content: "\e9c8";
}
.icon-cloud-lock:before {
  content: "\e9c9";
}
.icon-cloud-meatball:before {
  content: "\e9ca";
}
.icon-cloud-moon:before {
  content: "\e9cb";
}
.icon-cloud-question:before {
  content: "\e9cc";
}
.icon-cloud-rain:before {
  content: "\e9cd";
}
.icon-cloud-redo:before {
  content: "\e9ce";
}
.icon-cloud-share:before {
  content: "\e9cf";
}
.icon-cloud-shield:before {
  content: "\e9d0";
}
.icon-cloud-showers-alt:before {
  content: "\e9d1";
}
.icon-cloud-showers-heavy:before {
  content: "\e9d2";
}
.icon-cloud-slash:before {
  content: "\e9d3";
}
.icon-cloud-sun-meatball:before {
  content: "\e9d4";
}
.icon-cloud-sun-tear:before {
  content: "\e9d5";
}
.icon-cloud-times:before {
  content: "\e9d6";
}
.icon-cloud-unlock:before {
  content: "\e9d7";
}
.icon-cloud-upload:before {
  content: "\e9d8";
}
.icon-cloud-wifi:before {
  content: "\e9d9";
}
.icon-cloud-wind:before {
  content: "\e9da";
}
.icon-clouds:before {
  content: "\e9db";
}
.icon-club:before {
  content: "\e9dc";
}
.icon-code-branch:before {
  content: "\e9dd";
}
.icon-coffee:before {
  content: "\e9de";
}
.icon-cog:before {
  content: "\1f365";
}
.icon-coins:before {
  content: "\e9e0";
}
.icon-columns:before {
  content: "\e9e1";
}
.icon-comment:before {
  content: "\e9e2";
}
.icon-comment-add:before {
  content: "\e9e3";
}
.icon-comment-alt:before {
  content: "\e9e4";
}
.icon-comment-alt-block:before {
  content: "\e9e5";
}
.icon-comment-alt-chart-lines:before {
  content: "\e9e6";
}
.icon-comment-alt-check:before {
  content: "\e9e7";
}
.icon-comment-alt-dots:before {
  content: "\e9e8";
}
.icon-comment-alt-download:before {
  content: "\e9e9";
}
.icon-comment-alt-edit:before {
  content: "\e9ea";
}
.icon-comment-alt-exclamation:before {
  content: "\e9eb";
}
.icon-comment-alt-heart:before {
  content: "\e9ec";
}
.icon-comment-alt-image:before {
  content: "\e9ed";
}
.icon-comment-alt-info:before {
  content: "\e9ee";
}
.icon-comment-alt-lines:before {
  content: "\e9ef";
}
.icon-comment-alt-lock:before {
  content: "\e9f0";
}
.icon-comment-alt-medical:before {
  content: "\e9f1";
}
.icon-comment-alt-message:before {
  content: "\e9f2";
}
.icon-comment-alt-notes:before {
  content: "\e9f3";
}
.icon-comment-alt-plus:before {
  content: "\e9f4";
}
.icon-comment-alt-question:before {
  content: "\e9f5";
}
.icon-comment-alt-redo:before {
  content: "\e9f6";
}
.icon-comment-alt-search:before {
  content: "\e9f7";
}
.icon-comment-alt-share:before {
  content: "\e9f8";
}
.icon-comment-alt-shield:before {
  content: "\e9f9";
}
.icon-comment-alt-slash:before {
  content: "\e9fa";
}
.icon-comment-alt-upload:before {
  content: "\e9fb";
}
.icon-comment-alt-verify:before {
  content: "\e9fc";
}
.icon-comment-block:before {
  content: "\e9fd";
}
.icon-comment-chart-line:before {
  content: "\e9fe";
}
.icon-comment-check:before {
  content: "\e9ff";
}
.icon-comment-dots:before {
  content: "\ea00";
}
.icon-comment-download:before {
  content: "\ea01";
}
.icon-comment-edit:before {
  content: "\ea02";
}
.icon-comment-exclamation:before {
  content: "\ea03";
}
.icon-comment-heart:before {
  content: "\ea04";
}
.icon-comment-image:before {
  content: "\ea05";
}
.icon-comment-info:before {
  content: "\ea06";
}
.icon-comment-info-alt:before {
  content: "\ea07";
}
.icon-comment-lines:before {
  content: "\ea08";
}
.icon-comment-lock:before {
  content: "\ea09";
}
.icon-comment-medical:before {
  content: "\ea0a";
}
.icon-comment-message:before {
  content: "\ea0b";
}
.icon-comment-notes:before {
  content: "\ea0c";
}
.icon-comment-plus:before {
  content: "\ea0d";
}
.icon-comment-question:before {
  content: "\ea0e";
}
.icon-comment-redo:before {
  content: "\ea0f";
}
.icon-comment-search:before {
  content: "\ea10";
}
.icon-comment-share:before {
  content: "\ea11";
}
.icon-comment-shield:before {
  content: "\ea12";
}
.icon-comment-slash:before {
  content: "\ea13";
}
.icon-comment-upload:before {
  content: "\ea14";
}
.icon-comment-verify:before {
  content: "\ea15";
}
.icon-comments:before {
  content: "\ea16";
}
.icon-comments-alt:before {
  content: "\ea17";
}
.icon-compact-disc:before {
  content: "\ea18";
}
.icon-comparison:before {
  content: "\ea19";
}
.icon-compass:before {
  content: "\ea1a";
}
.icon-compress:before {
  content: "\ea1b";
}
.icon-compress-alt:before {
  content: "\ea1c";
}
.icon-compress-alt-left:before {
  content: "\ea1d";
}
.icon-compress-arrows:before {
  content: "\ea1e";
}
.icon-compress-lines:before {
  content: "\ea1f";
}
.icon-compress-point:before {
  content: "\ea20";
}
.icon-compress-v:before {
  content: "\ea21";
}
.icon-constructor:before {
  content: "\ea22";
}
.icon-copy:before {
  content: "\ea23";
}
.icon-copy-alt:before {
  content: "\ea24";
}
.icon-copy-landscape:before {
  content: "\ea25";
}
.icon-copyright:before {
  content: "\ea26";
}
.icon-corner-down-left:before {
  content: "\ea27";
}
.icon-corner-down-right:before {
  content: "\ea28";
}
.icon-corner-down-right-alt:before {
  content: "\ea29";
}
.icon-corner-left-down:before {
  content: "\ea2a";
}
.icon-corner-right-down:before {
  content: "\ea2b";
}
.icon-corner-up-left:before {
  content: "\ea2c";
}
.icon-corner-up-left-alt:before {
  content: "\ea2d";
}
.icon-corner-up-right:before {
  content: "\ea2e";
}
.icon-corner-up-right-alt:before {
  content: "\ea2f";
}
.icon-coronavirus:before {
  content: "\ea30";
}
.icon-create-dashboard:before {
  content: "\ea31";
}
.icon-creative-commons-pd:before {
  content: "\ea32";
}
.icon-credit-card:before {
  content: "\ea33";
}
.icon-credit-card-search:before {
  content: "\ea34";
}
.icon-crockery:before {
  content: "\ea35";
}
.icon-crop-alt:before {
  content: "\ea36";
}
.icon-crop-alt-rotate-left:before {
  content: "\ea37";
}
.icon-crop-alt-rotate-right:before {
  content: "\ea38";
}
.icon-crosshair:before {
  content: "\ea39";
}
.icon-crosshair-alt:before {
  content: "\ea3a";
}
.icon-crosshairs:before {
  content: "\ea3b";
}
.icon-css3-simple:before {
  content: "\ea3c";
}
.icon-cube:before {
  content: "\ea3d";
}
.icon-dashboard:before {
  content: "\ea3e";
}
.icon-data-sharing:before {
  content: "\ea3f";
}
.icon-database:before {
  content: "\ea40";
}
.icon-database-alt:before {
  content: "\ea41";
}
.icon-desert:before {
  content: "\ea42";
}
.icon-desktop:before {
  content: "\ea43";
}
.icon-desktop-alt:before {
  content: "\ea44";
}
.icon-desktop-alt-slash:before {
  content: "\ea45";
}
.icon-desktop-cloud-alt:before {
  content: "\ea46";
}
.icon-desktop-slash:before {
  content: "\ea47";
}
.icon-dialpad:before {
  content: "\ea48";
}
.icon-dialpad-alt:before {
  content: "\ea49";
}
.icon-diamond:before {
  content: "\ea4a";
}
.icon-diary:before {
  content: "\ea4b";
}
.icon-diary-alt:before {
  content: "\ea4c";
}
.icon-dice-five:before {
  content: "\ea4d";
}
.icon-dice-four:before {
  content: "\ea4e";
}
.icon-dice-one:before {
  content: "\ea4f";
}
.icon-dice-six:before {
  content: "\ea50";
}
.icon-dice-three:before {
  content: "\ea51";
}
.icon-dice-two:before {
  content: "\ea52";
}
.icon-direction:before {
  content: "\ea53";
}
.icon-directions:before {
  content: "\ea54";
}
.icon-discord:before {
  content: "\ea55";
}
.icon-dizzy-meh:before {
  content: "\ea56";
}
.icon-dna:before {
  content: "\ea57";
}
.icon-docker:before {
  content: "\ea58";
}
.icon-document-info:before {
  content: "\ea59";
}
.icon-document-layout-center:before {
  content: "\ea5a";
}
.icon-document-layout-left:before {
  content: "\ea5b";
}
.icon-document-layout-right:before {
  content: "\ea5c";
}
.icon-dollar-alt:before {
  content: "\ea5d";
}
.icon-dollar-sign:before {
  content: "\ea5e";
}
.icon-dollar-sign-alt:before {
  content: "\ea5f";
}
.icon-download-alt:before {
  content: "\ea60";
}
.icon-draggabledots:before {
  content: "\ea61";
}
.icon-dribbble:before {
  content: "\ea62";
}
.icon-drill:before {
  content: "\ea63";
}
.icon-dropbox:before {
  content: "\ea64";
}
.icon-dumbbell:before {
  content: "\ea65";
}
.icon-ear:before {
  content: "\ea66";
}
.icon-edit:before {
  content: "\ea67";
}
.icon-edit-alt:before {
  content: "\ea68";
}
.icon-elipsis-double-v-alt:before {
  content: "\ea69";
}
.icon-ellipsis-h:before {
  content: "\ea6a";
}
.icon-ellipsis-v:before {
  content: "\ea6b";
}
.icon-emoji:before {
  content: "\ea6c";
}
.icon-english-to-chinese:before {
  content: "\ea6d";
}
.icon-enter:before {
  content: "\ea6e";
}
.icon-envelope:before {
  content: "\ea6f";
}
.icon-envelope-add:before {
  content: "\ea70";
}
.icon-envelope-alt:before {
  content: "\ea71";
}
.icon-envelope-block:before {
  content: "\ea72";
}
.icon-envelope-bookmark:before {
  content: "\ea73";
}
.icon-envelope-check:before {
  content: "\ea74";
}
.icon-envelope-download:before {
  content: "\ea75";
}
.icon-envelope-download-alt:before {
  content: "\ea76";
}
.icon-envelope-edit:before {
  content: "\ea77";
}
.icon-envelope-exclamation:before {
  content: "\ea78";
}
.icon-envelope-heart:before {
  content: "\ea79";
}
.icon-envelope-info:before {
  content: "\ea7a";
}
.icon-envelope-lock:before {
  content: "\ea7b";
}
.icon-envelope-minus:before {
  content: "\ea7c";
}
.icon-envelope-open:before {
  content: "\ea7d";
}
.icon-envelope-question:before {
  content: "\ea7e";
}
.icon-envelope-receive:before {
  content: "\ea7f";
}
.icon-envelope-redo:before {
  content: "\ea80";
}
.icon-envelope-search:before {
  content: "\ea81";
}
.icon-envelope-send:before {
  content: "\ea82";
}
.icon-envelope-share:before {
  content: "\ea83";
}
.icon-envelope-shield:before {
  content: "\ea84";
}
.icon-envelope-star:before {
  content: "\ea85";
}
.icon-envelope-times:before {
  content: "\ea86";
}
.icon-envelope-upload:before {
  content: "\ea87";
}
.icon-envelope-upload-alt:before {
  content: "\ea88";
}
.icon-envelopes:before {
  content: "\ea89";
}
.icon-equal-circle:before {
  content: "\ea8a";
}
.icon-estate:before {
  content: "\ea8b";
}
.icon-euro:before {
  content: "\ea8c";
}
.icon-euro-circle:before {
  content: "\ea8d";
}
.icon-exchange:before {
  content: "\ea8e";
}
.icon-exchange-alt:before {
  content: "\ea8f";
}
.icon-exclamation:before {
  content: "\ea90";
}
.icon-exclamation-circle:before {
  content: "\ea91";
}
.icon-exclamation-octagon:before {
  content: "\ea92";
}
.icon-exclamation-triangle:before {
  content: "\ea93";
}
.icon-exclude:before {
  content: "\ea94";
}
.icon-exit:before {
  content: "\ea95";
}
.icon-expand-alt:before {
  content: "\ea96";
}
.icon-expand-arrows:before {
  content: "\ea97";
}
.icon-expand-arrows-alt:before {
  content: "\ea98";
}
.icon-expand-from-corner:before {
  content: "\ea99";
}
.icon-expand-left:before {
  content: "\ea9a";
}
.icon-expand-right:before {
  content: "\ea9b";
}
.icon-export:before {
  content: "\ea9c";
}
.icon-exposure-alt:before {
  content: "\ea9d";
}
.icon-exposure-increase:before {
  content: "\ea9e";
}
.icon-external-link-alt:before {
  content: "\ea9f";
}
.icon-eye:before {
  content: "\eaa0";
}
.icon-eye-slash:before {
  content: "\eaa1";
}
.icon-facebook:before {
  content: "\eaa2";
}
.icon-facebook-f:before {
  content: "\eaa3";
}
.icon-facebook-messenger:before {
  content: "\eaa4";
}
.icon-facebook-messenger-alt:before {
  content: "\eaa5";
}
.icon-fahrenheit:before {
  content: "\eaa6";
}
.icon-fast-mail:before {
  content: "\eaa7";
}
.icon-fast-mail-alt:before {
  content: "\eaa8";
}
.icon-favorite:before {
  content: "\eaa9";
}
.icon-feedback:before {
  content: "\eaaa";
}
.icon-fidget-spinner:before {
  content: "\eaab";
}
.icon-file:before {
  content: "\eaac";
}
.icon-file-alt:before {
  content: "\eaad";
}
.icon-file-blank:before {
  content: "\eaae";
}
.icon-file-block-alt:before {
  content: "\eaaf";
}
.icon-file-bookmark-alt:before {
  content: "\eab0";
}
.icon-file-check:before {
  content: "\eab1";
}
.icon-file-check-alt:before {
  content: "\eab2";
}
.icon-file-contract:before {
  content: "\eab3";
}
.icon-file-contract-dollar:before {
  content: "\eab4";
}
.icon-file-copy-alt:before {
  content: "\eab5";
}
.icon-file-download:before {
  content: "\eab6";
}
.icon-file-download-alt:before {
  content: "\eab7";
}
.icon-file-edit-alt:before {
  content: "\eab8";
}
.icon-file-exclamation:before {
  content: "\eab9";
}
.icon-file-exclamation-alt:before {
  content: "\eaba";
}
.icon-file-export:before {
  content: "\eabb";
}
.icon-file-graph:before {
  content: "\eabc";
}
.icon-file-heart:before {
  content: "\eabd";
}
.icon-file-import:before {
  content: "\eabe";
}
.icon-file-info-alt:before {
  content: "\eabf";
}
.icon-file-landscape:before {
  content: "\eac0";
}
.icon-file-landscape-alt:before {
  content: "\eac1";
}
.icon-file-lanscape-slash:before {
  content: "\eac2";
}
.icon-file-lock-alt:before {
  content: "\eac3";
}
.icon-file-medical:before {
  content: "\eac4";
}
.icon-file-medical-alt:before {
  content: "\eac5";
}
.icon-file-minus:before {
  content: "\eac6";
}
.icon-file-minus-alt:before {
  content: "\eac7";
}
.icon-file-network:before {
  content: "\eac8";
}
.icon-file-plus:before {
  content: "\eac9";
}
.icon-file-plus-alt:before {
  content: "\eaca";
}
.icon-file-question:before {
  content: "\eacb";
}
.icon-file-question-alt:before {
  content: "\eacc";
}
.icon-file-redo-alt:before {
  content: "\eacd";
}
.icon-file-search-alt:before {
  content: "\eace";
}
.icon-file-share-alt:before {
  content: "\eacf";
}
.icon-file-shield-alt:before {
  content: "\ead0";
}
.icon-file-slash:before {
  content: "\ead1";
}
.icon-file-times:before {
  content: "\ead2";
}
.icon-file-times-alt:before {
  content: "\ead3";
}
.icon-file-upload:before {
  content: "\ead4";
}
.icon-file-upload-alt:before {
  content: "\ead5";
}
.icon-files-landscapes:before {
  content: "\ead6";
}
.icon-files-landscapes-alt:before {
  content: "\ead7";
}
.icon-film:before {
  content: "\ead8";
}
.icon-filter:before {
  content: "\ead9";
}
.icon-filter-slash:before {
  content: "\eada";
}
.icon-fire:before {
  content: "\eadb";
}
.icon-flask:before {
  content: "\eadc";
}
.icon-flask-potion:before {
  content: "\eadd";
}
.icon-flip-h:before {
  content: "\eade";
}
.icon-flip-h-alt:before {
  content: "\eadf";
}
.icon-flip-v:before {
  content: "\eae0";
}
.icon-flip-v-alt:before {
  content: "\eae1";
}
.icon-flower:before {
  content: "\eae2";
}
.icon-focus:before {
  content: "\eae3";
}
.icon-focus-add:before {
  content: "\eae4";
}
.icon-focus-target:before {
  content: "\eae5";
}
.icon-folder:before {
  content: "\eae6";
}
.icon-folder-check:before {
  content: "\eae7";
}
.icon-folder-download:before {
  content: "\eae8";
}
.icon-folder-exclamation:before {
  content: "\eae9";
}
.icon-folder-heart:before {
  content: "\eaea";
}
.icon-folder-info:before {
  content: "\eaeb";
}
.icon-folder-lock:before {
  content: "\eaec";
}
.icon-folder-medical:before {
  content: "\eaed";
}
.icon-folder-minus:before {
  content: "\eaee";
}
.icon-folder-network:before {
  content: "\eaef";
}
.icon-folder-open:before {
  content: "\eaf0";
}
.icon-folder-plus:before {
  content: "\eaf1";
}
.icon-folder-question:before {
  content: "\eaf2";
}
.icon-folder-slash:before {
  content: "\eaf3";
}
.icon-folder-times:before {
  content: "\eaf4";
}
.icon-folder-upload:before {
  content: "\eaf5";
}
.icon-font:before {
  content: "\eaf6";
}
.icon-football:before {
  content: "\eaf7";
}
.icon-football-american:before {
  content: "\eaf8";
}
.icon-football-ball:before {
  content: "\eaf9";
}
.icon-forecastcloud-moon-tear:before {
  content: "\eafa";
}
.icon-forwaded-call:before {
  content: "\eafb";
}
.icon-forward:before {
  content: "\eafc";
}
.icon-frown:before {
  content: "\eafd";
}
.icon-game-structure:before {
  content: "\eafe";
}
.icon-gift:before {
  content: "\eaff";
}
.icon-github:before {
  content: "\eb00";
}
.icon-github-alt:before {
  content: "\eb01";
}
.icon-gitlab:before {
  content: "\eb02";
}
.icon-glass:before {
  content: "\eb03";
}
.icon-glass-martini:before {
  content: "\eb04";
}
.icon-glass-martini-alt:before {
  content: "\eb05";
}
.icon-glass-martini-alt-slash:before {
  content: "\eb06";
}
.icon-glass-tea:before {
  content: "\eb07";
}
.icon-globe:before {
  content: "\eb08";
}
.icon-gold:before {
  content: "\eb09";
}
.icon-golf-ball:before {
  content: "\eb0a";
}
.icon-google:before {
  content: "\eb0b";
}
.icon-google-drive:before {
  content: "\eb0c";
}
.icon-google-drive-alt:before {
  content: "\eb0d";
}
.icon-google-hangouts:before {
  content: "\eb0e";
}
.icon-google-hangouts-alt:before {
  content: "\eb0f";
}
.icon-google-play:before {
  content: "\eb10";
}
.icon-graduation-cap:before {
  content: "\eb11";
}
.icon-graph-bar:before {
  content: "\eb12";
}
.icon-grid:before {
  content: "\eb13";
}
.icon-grids:before {
  content: "\eb14";
}
.icon-grin:before {
  content: "\eb15";
}
.icon-grin-tongue-wink:before {
  content: "\eb16";
}
.icon-grin-tongue-wink-alt:before {
  content: "\eb17";
}
.icon-grip-horizontal-line:before {
  content: "\eb18";
}
.icon-hard-hat:before {
  content: "\eb19";
}
.icon-hdd:before {
  content: "\eb1a";
}
.icon-head-side:before {
  content: "\eb1b";
}
.icon-head-side-cough:before {
  content: "\eb1c";
}
.icon-head-side-mask:before {
  content: "\eb1d";
}
.icon-headphone-slash:before {
  content: "\eb1e";
}
.icon-headphones:before {
  content: "\eb1f";
}
.icon-headphones-alt:before {
  content: "\eb20";
}
.icon-heart:before {
  content: "\eb21";
}
.icon-heart-alt:before {
  content: "\eb22";
}
.icon-heart-break:before {
  content: "\eb23";
}
.icon-heart-medical:before {
  content: "\eb24";
}
.icon-heart-rate:before {
  content: "\eb25";
}
.icon-heart-sign:before {
  content: "\eb26";
}
.icon-heartbeat:before {
  content: "\eb27";
}
.icon-hindi-to-chinese:before {
  content: "\eb28";
}
.icon-hipchat:before {
  content: "\eb29";
}
.icon-history:before {
  content: "\eb2a";
}
.icon-history-alt:before {
  content: "\eb2b";
}
.icon-home:before {
  content: "\eb2c";
}
.icon-home-alt:before {
  content: "\eb2d";
}
.icon-horizontal-align-center:before {
  content: "\eb2e";
}
.icon-horizontal-align-left:before {
  content: "\eb2f";
}
.icon-horizontal-align-right:before {
  content: "\eb30";
}
.icon-horizontal-distribution-center:before {
  content: "\eb31";
}
.icon-horizontal-distribution-left:before {
  content: "\eb32";
}
.icon-horizontal-distribution-right:before {
  content: "\eb33";
}
.icon-hospital:before {
  content: "\eb34";
}
.icon-hospital-square-sign:before {
  content: "\eb35";
}
.icon-hospital-symbol:before {
  content: "\eb36";
}
.icon-hourglass:before {
  content: "\eb37";
}
.icon-house-user:before {
  content: "\eb38";
}
.icon-html3:before {
  content: "\eb39";
}
.icon-html3-alt:before {
  content: "\eb3a";
}
.icon-html5:before {
  content: "\eb3b";
}
.icon-html5-alt:before {
  content: "\eb3c";
}
.icon-hunting:before {
  content: "\eb3d";
}
.icon-icons:before {
  content: "\eb3e";
}
.icon-illustration:before {
  content: "\eb3f";
}
.icon-image:before {
  content: "\eb40";
}
.icon-image-alt-slash:before {
  content: "\eb41";
}
.icon-image-block:before {
  content: "\eb42";
}
.icon-image-broken:before {
  content: "\eb43";
}
.icon-image-check:before {
  content: "\eb44";
}
.icon-image-download:before {
  content: "\eb45";
}
.icon-image-edit:before {
  content: "\eb46";
}
.icon-image-lock:before {
  content: "\eb47";
}
.icon-image-minus:before {
  content: "\eb48";
}
.icon-image-plus:before {
  content: "\eb49";
}
.icon-image-question:before {
  content: "\eb4a";
}
.icon-image-redo:before {
  content: "\eb4b";
}
.icon-image-resize-landscape:before {
  content: "\eb4c";
}
.icon-image-resize-square:before {
  content: "\eb4d";
}
.icon-image-search:before {
  content: "\eb4e";
}
.icon-image-share:before {
  content: "\eb4f";
}
.icon-image-shield:before {
  content: "\eb50";
}
.icon-image-slash:before {
  content: "\eb51";
}
.icon-image-times:before {
  content: "\eb52";
}
.icon-image-upload:before {
  content: "\eb53";
}
.icon-image-v:before {
  content: "\eb54";
}
.icon-images:before {
  content: "\eb55";
}
.icon-import:before {
  content: "\eb56";
}
.icon-inbox:before {
  content: "\eb57";
}
.icon-incoming-call:before {
  content: "\eb58";
}
.icon-info:before {
  content: "\eb59";
}
.icon-info-circle:before {
  content: "\eb5a";
}
.icon-instagram:before {
  content: "\eb5b";
}
.icon-instagram-alt:before {
  content: "\eb5c";
}
.icon-intercom:before {
  content: "\eb5d";
}
.icon-intercom-alt:before {
  content: "\eb5e";
}
.icon-invoice:before {
  content: "\eb5f";
}
.icon-italic:before {
  content: "\eb60";
}
.icon-jackhammer:before {
  content: "\eb61";
}
.icon-java-script:before {
  content: "\eb62";
}
.icon-kayak:before {
  content: "\eb63";
}
.icon-key-skeleton:before {
  content: "\eb64";
}
.icon-key-skeleton-alt:before {
  content: "\eb65";
}
.icon-keyboard:before {
  content: "\eb66";
}
.icon-keyboard-alt:before {
  content: "\eb67";
}
.icon-keyboard-hide:before {
  content: "\eb68";
}
.icon-keyboard-show:before {
  content: "\eb69";
}
.icon-keyhole-circle:before {
  content: "\eb6a";
}
.icon-keyhole-square:before {
  content: "\eb6b";
}
.icon-keyhole-square-full:before {
  content: "\eb6c";
}
.icon-kid:before {
  content: "\eb6d";
}
.icon-label:before {
  content: "\eb6e";
}
.icon-label-alt:before {
  content: "\eb6f";
}
.icon-lamp:before {
  content: "\eb70";
}
.icon-language:before {
  content: "\eb71";
}
.icon-laptop:before {
  content: "\eb72";
}
.icon-laptop-cloud:before {
  content: "\eb73";
}
.icon-laptop-connection:before {
  content: "\eb74";
}
.icon-laughing:before {
  content: "\eb75";
}
.icon-layer-group:before {
  content: "\eb76";
}
.icon-layer-group-slash:before {
  content: "\eb77";
}
.icon-layers:before {
  content: "\eb78";
}
.icon-layers-alt:before {
  content: "\eb79";
}
.icon-layers-slash:before {
  content: "\eb7a";
}
.icon-left-arrow-from-left:before {
  content: "\eb7b";
}
.icon-left-arrow-to-left:before {
  content: "\eb7c";
}
.icon-left-indent:before {
  content: "\eb7d";
}
.icon-left-indent-alt:before {
  content: "\eb7e";
}
.icon-left-to-right-text-direction:before {
  content: "\eb7f";
}
.icon-letter-chinese-a:before {
  content: "\eb80";
}
.icon-letter-english-a:before {
  content: "\eb81";
}
.icon-letter-hindi-a:before {
  content: "\eb82";
}
.icon-letter-japanese-a:before {
  content: "\eb83";
}
.icon-life-ring:before {
  content: "\eb84";
}
.icon-lightbulb:before {
  content: "\eb85";
}
.icon-lightbulb-alt:before {
  content: "\eb86";
}
.icon-line:before {
  content: "\eb87";
}
.icon-line-alt:before {
  content: "\eb88";
}
.icon-line-spacing:before {
  content: "\eb89";
}
.icon-link:before {
  content: "\eb8a";
}
.icon-link-add:before {
  content: "\eb8b";
}
.icon-link-alt:before {
  content: "\eb8c";
}
.icon-link-broken:before {
  content: "\eb8d";
}
.icon-link-h:before {
  content: "\eb8e";
}
.icon-linkedin:before {
  content: "\eb8f";
}
.icon-linkedin-alt:before {
  content: "\eb90";
}
.icon-linux:before {
  content: "\eb91";
}
.icon-lira-sign:before {
  content: "\eb92";
}
.icon-list-ol:before {
  content: "\eb93";
}
.icon-list-ol-alt:before {
  content: "\eb94";
}
.icon-list-ui-alt:before {
  content: "\eb95";
}
.icon-list-ul:before {
  content: "\eb96";
}
.icon-location-arrow:before {
  content: "\eb97";
}
.icon-location-arrow-alt:before {
  content: "\eb98";
}
.icon-location-pin-alt:before {
  content: "\eb99";
}
.icon-location-point:before {
  content: "\eb9a";
}
.icon-lock:before {
  content: "\eb9b";
}
.icon-lock-access:before {
  content: "\eb9c";
}
.icon-lock-alt:before {
  content: "\eb9d";
}
.icon-lock-open-alt:before {
  content: "\eb9e";
}
.icon-lock-slash:before {
  content: "\eb9f";
}
.icon-lottiefiles:before {
  content: "\eba0";
}
.icon-lottiefiles-alt:before {
  content: "\eba1";
}
.icon-luggage-cart:before {
  content: "\eba2";
}
.icon-mailbox:before {
  content: "\eba3";
}
.icon-mailbox-alt:before {
  content: "\eba4";
}
.icon-map:before {
  content: "\eba5";
}
.icon-map-marker:before {
  content: "\eba6";
}
.icon-map-marker-alt:before {
  content: "\eba7";
}
.icon-map-marker-edit:before {
  content: "\eba8";
}
.icon-map-marker-info:before {
  content: "\eba9";
}
.icon-map-marker-minus:before {
  content: "\ebaa";
}
.icon-map-marker-plus:before {
  content: "\ebab";
}
.icon-map-marker-question:before {
  content: "\ebac";
}
.icon-map-marker-shield:before {
  content: "\ebad";
}
.icon-map-marker-slash:before {
  content: "\ebae";
}
.icon-map-pin:before {
  content: "\ebaf";
}
.icon-map-pin-alt:before {
  content: "\ebb0";
}
.icon-mars:before {
  content: "\ebb1";
}
.icon-master-card:before {
  content: "\ebb2";
}
.icon-maximize-left:before {
  content: "\ebb3";
}
.icon-medal:before {
  content: "\ebb4";
}
.icon-medical-drip:before {
  content: "\ebb5";
}
.icon-medical-square:before {
  content: "\ebb6";
}
.icon-medical-square-full:before {
  content: "\ebb7";
}
.icon-medium-m:before {
  content: "\ebb8";
}
.icon-medkit:before {
  content: "\ebb9";
}
.icon-meeting-board:before {
  content: "\ebba";
}
.icon-megaphone:before {
  content: "\ebbb";
}
.icon-meh:before {
  content: "\ebbc";
}
.icon-meh-alt:before {
  content: "\ebbd";
}
.icon-meh-closed-eye:before {
  content: "\ebbe";
}
.icon-message:before {
  content: "\ebbf";
}
.icon-metro:before {
  content: "\ebc0";
}
.icon-microphone:before {
  content: "\ebc1";
}
.icon-microphone-slash:before {
  content: "\ebc2";
}
.icon-microscope:before {
  content: "\ebc3";
}
.icon-microsoft:before {
  content: "\ebc4";
}
.icon-minus:before {
  content: "\ebc5";
}
.icon-minus-circle:before {
  content: "\ebc6";
}
.icon-minus-path:before {
  content: "\ebc7";
}
.icon-minus-square:before {
  content: "\ebc8";
}
.icon-minus-square-full:before {
  content: "\ebc9";
}
.icon-missed-call:before {
  content: "\ebca";
}
.icon-mobile-android:before {
  content: "\ebcb";
}
.icon-mobile-android-alt:before {
  content: "\ebcc";
}
.icon-mobile-vibrate:before {
  content: "\ebcd";
}
.icon-modem:before {
  content: "\ebce";
}
.icon-money-bill:before {
  content: "\ebcf";
}
.icon-money-bill-slash:before {
  content: "\ebd0";
}
.icon-money-bill-stack:before {
  content: "\ebd1";
}
.icon-money-insert:before {
  content: "\ebd2";
}
.icon-money-stack:before {
  content: "\ebd3";
}
.icon-money-withdraw:before {
  content: "\ebd4";
}
.icon-money-withdrawal:before {
  content: "\ebd5";
}
.icon-moneybag:before {
  content: "\ebd6";
}
.icon-moneybag-alt:before {
  content: "\ebd7";
}
.icon-monitor:before {
  content: "\ebd8";
}
.icon-monitor-heart-rate:before {
  content: "\ebd9";
}
.icon-moon:before {
  content: "\ebda";
}
.icon-moon-eclipse:before {
  content: "\ebdb";
}
.icon-moonset:before {
  content: "\ebdc";
}
.icon-mountains:before {
  content: "\ebdd";
}
.icon-mountains-sun:before {
  content: "\ebde";
}
.icon-mouse:before {
  content: "\ebdf";
}
.icon-mouse-alt:before {
  content: "\ebe0";
}
.icon-mouse-alt-2:before {
  content: "\ebe1";
}
.icon-multiply:before {
  content: "\ebe2";
}
.icon-music:before {
  content: "\ebe3";
}
.icon-music-note:before {
  content: "\ebe4";
}
.icon-music-tune-slash:before {
  content: "\ebe5";
}
.icon-n-a:before {
  content: "\ebe6";
}
.icon-navigator:before {
  content: "\ebe7";
}
.icon-nerd:before {
  content: "\ebe8";
}
.icon-newspaper:before {
  content: "\ebe9";
}
.icon-ninja:before {
  content: "\ebea";
}
.icon-no-entry:before {
  content: "\ebeb";
}
.icon-notebooks:before {
  content: "\ebec";
}
.icon-notes:before {
  content: "\ebed";
}
.icon-object-group:before {
  content: "\ebee";
}
.icon-object-ungroup:before {
  content: "\ebef";
}
.icon-octagon:before {
  content: "\ebf0";
}
.icon-okta:before {
  content: "\ebf1";
}
.icon-opera:before {
  content: "\ebf2";
}
.icon-opera-alt:before {
  content: "\ebf3";
}
.icon-outgoing-call:before {
  content: "\ebf4";
}
.icon-package:before {
  content: "\ebf5";
}
.icon-padlock:before {
  content: "\ebf6";
}
.icon-pagelines:before {
  content: "\ebf7";
}
.icon-pagerduty:before {
  content: "\ebf8";
}
.icon-paint-tool:before {
  content: "\ebf9";
}
.icon-palette:before {
  content: "\ebfa";
}
.icon-panel-add:before {
  content: "\ebfb";
}
.icon-panorama-h:before {
  content: "\ebfc";
}
.icon-panorama-h-alt:before {
  content: "\ebfd";
}
.icon-panorama-v:before {
  content: "\ebfe";
}
.icon-paperclip:before {
  content: "\ebff";
}
.icon-paragraph:before {
  content: "\ec00";
}
.icon-parcel:before {
  content: "\ec01";
}
.icon-parking-circle:before {
  content: "\ec02";
}
.icon-parking-square:before {
  content: "\ec03";
}
.icon-pathfinder:before {
  content: "\ec04";
}
.icon-pathfinder-unite:before {
  content: "\ec05";
}
.icon-pause:before {
  content: "\ec06";
}
.icon-pause-circle:before {
  content: "\ec07";
}
.icon-paypal:before {
  content: "\ec08";
}
.icon-pen:before {
  content: "\ec09";
}
.icon-pentagon:before {
  content: "\ec0a";
}
.icon-percentage:before {
  content: "\ec0b";
}
.icon-phone:before {
  content: "\ec0c";
}
.icon-phone-alt:before {
  content: "\ec0d";
}
.icon-phone-pause:before {
  content: "\ec0e";
}
.icon-phone-slash:before {
  content: "\ec0f";
}
.icon-phone-times:before {
  content: "\ec10";
}
.icon-phone-volume:before {
  content: "\ec11";
}
.icon-picture:before {
  content: "\ec12";
}
.icon-pizza-slice:before {
  content: "\ec13";
}
.icon-plane:before {
  content: "\ec14";
}
.icon-plane-arrival:before {
  content: "\ec15";
}
.icon-plane-departure:before {
  content: "\ec16";
}
.icon-plane-fly:before {
  content: "\ec17";
}
.icon-play:before {
  content: "\ec18";
}
.icon-play-circle:before {
  content: "\ec19";
}
.icon-plug:before {
  content: "\ec1a";
}
.icon-plus:before {
  content: "\ec1b";
}
.icon-plus-circle:before {
  content: "\ec1c";
}
.icon-plus-square:before {
  content: "\ec1d";
}
.icon-podium:before {
  content: "\ec1e";
}
.icon-polygon:before {
  content: "\ec1f";
}
.icon-post-stamp:before {
  content: "\ec20";
}
.icon-postcard:before {
  content: "\ec21";
}
.icon-pound:before {
  content: "\ec22";
}
.icon-pound-circle:before {
  content: "\ec23";
}
.icon-power:before {
  content: "\ec24";
}
.icon-prescription-bottle:before {
  content: "\ec25";
}
.icon-presentation:before {
  content: "\ec26";
}
.icon-presentation-check:before {
  content: "\ec27";
}
.icon-presentation-edit:before {
  content: "\ec28";
}
.icon-presentation-line:before {
  content: "\ec29";
}
.icon-presentation-lines-alt:before {
  content: "\ec2a";
}
.icon-presentation-minus:before {
  content: "\ec2b";
}
.icon-presentation-play:before {
  content: "\ec2c";
}
.icon-presentation-plus:before {
  content: "\ec2d";
}
.icon-presentation-times:before {
  content: "\ec2e";
}
.icon-previous:before {
  content: "\ec2f";
}
.icon-pricetag-alt:before {
  content: "\ec30";
}
.icon-print:before {
  content: "\ec31";
}
.icon-print-slash:before {
  content: "\ec32";
}
.icon-process:before {
  content: "\ec33";
}
.icon-processor:before {
  content: "\ec34";
}
.icon-programming-language:before {
  content: "\ec35";
}
.icon-pump:before {
  content: "\ec36";
}
.icon-puzzle-piece:before {
  content: "\ec37";
}
.icon-qrcode-scan:before {
  content: "\ec38";
}
.icon-question:before {
  content: "\ec39";
}
.icon-question-circle:before {
  content: "\ec3a";
}
.icon-rainbow:before {
  content: "\ec3b";
}
.icon-raindrops:before {
  content: "\ec3c";
}
.icon-raindrops-alt:before {
  content: "\ec3d";
}
.icon-react:before {
  content: "\ec3e";
}
.icon-receipt:before {
  content: "\ec3f";
}
.icon-receipt-alt:before {
  content: "\ec40";
}
.icon-record-audio:before {
  content: "\ec41";
}
.icon-reddit-alien-alt:before {
  content: "\ec42";
}
.icon-redo:before {
  content: "\ec43";
}
.icon-refresh:before {
  content: "\ec44";
}
.icon-registered:before {
  content: "\ec45";
}
.icon-repeat:before {
  content: "\ec46";
}
.icon-restaurant:before {
  content: "\ec47";
}
.icon-right-indent-alt:before {
  content: "\ec48";
}
.icon-right-to-left-text-direction:before {
  content: "\ec49";
}
.icon-robot:before {
  content: "\ec4a";
}
.icon-rocket:before {
  content: "\ec4b";
}
.icon-rope-way:before {
  content: "\ec4c";
}
.icon-rotate-360:before {
  content: "\ec4d";
}
.icon-rss:before {
  content: "\ec4e";
}
.icon-rss-alt:before {
  content: "\ec4f";
}
.icon-rss-interface:before {
  content: "\ec50";
}
.icon-ruler:before {
  content: "\ec51";
}
.icon-ruler-combined:before {
  content: "\ec52";
}
.icon-rupee-sign:before {
  content: "\ec53";
}
.icon-sad:before {
  content: "\ec54";
}
.icon-sad-cry:before {
  content: "\ec55";
}
.icon-sad-crying:before {
  content: "\ec56";
}
.icon-sad-dizzy:before {
  content: "\ec57";
}
.icon-sad-squint:before {
  content: "\ec58";
}
.icon-sanitizer:before {
  content: "\ec59";
}
.icon-sanitizer-alt:before {
  content: "\ec5a";
}
.icon-save:before {
  content: "\ec5b";
}
.icon-scaling-left:before {
  content: "\ec5c";
}
.icon-scaling-right:before {
  content: "\ec5d";
}
.icon-scenery:before {
  content: "\ec5e";
}
.icon-schedule:before {
  content: "\ec5f";
}
.icon-screw:before {
  content: "\ec60";
}
.icon-scroll:before {
  content: "\ec61";
}
.icon-scroll-h:before {
  content: "\ec62";
}
.icon-search:before {
  content: "\ec63";
}
.icon-search-alt:before {
  content: "\ec64";
}
.icon-search-minus:before {
  content: "\ec65";
}
.icon-search-plus:before {
  content: "\ec66";
}
.icon-selfie:before {
  content: "\ec67";
}
.icon-server:before {
  content: "\ec68";
}
.icon-server-alt:before {
  content: "\ec69";
}
.icon-server-connection:before {
  content: "\ec6a";
}
.icon-server-network:before {
  content: "\ec6b";
}
.icon-server-network-alt:before {
  content: "\ec6c";
}
.icon-servers:before {
  content: "\ec6d";
}
.icon-servicemark:before {
  content: "\ec6e";
}
.icon-setting:before {
  content: "\ec6f";
}
.icon-share:before {
  content: "\ec70";
}
.icon-share-alt:before {
  content: "\ec71";
}
.icon-shield:before {
  content: "\ec72";
}
.icon-shield-check:before {
  content: "\ec73";
}
.icon-shield-exclamation:before {
  content: "\ec74";
}
.icon-shield-plus:before {
  content: "\ec75";
}
.icon-shield-question:before {
  content: "\ec76";
}
.icon-shield-slash:before {
  content: "\ec77";
}
.icon-ship:before {
  content: "\ec78";
}
.icon-shop:before {
  content: "\ec79";
}
.icon-shopping-bag:before {
  content: "\ec7a";
}
.icon-shopping-basket:before {
  content: "\ec7b";
}
.icon-shopping-cart:before {
  content: "\ec7c";
}
.icon-shopping-cart-alt:before {
  content: "\ec7d";
}
.icon-shovel:before {
  content: "\ec7e";
}
.icon-shrink:before {
  content: "\ec7f";
}
.icon-shuffle:before {
  content: "\ec80";
}
.icon-shutter:before {
  content: "\ec81";
}
.icon-shutter-alt:before {
  content: "\ec82";
}
.icon-sick:before {
  content: "\ec83";
}
.icon-sigma:before {
  content: "\ec84";
}
.icon-sign-alt:before {
  content: "\ec85";
}
.icon-sign-in-alt:before {
  content: "\ec86";
}
.icon-sign-left:before {
  content: "\ec87";
}
.icon-sign-out-alt:before {
  content: "\ec88";
}
.icon-sign-right:before {
  content: "\ec89";
}
.icon-signal:before {
  content: "\ec8a";
}
.icon-signal-alt:before {
  content: "\ec8b";
}
.icon-signal-alt-3:before {
  content: "\ec8c";
}
.icon-signin:before {
  content: "\ec8d";
}
.icon-signout:before {
  content: "\ec8e";
}
.icon-silence:before {
  content: "\ec8f";
}
.icon-silent-squint:before {
  content: "\ec90";
}
.icon-sim-card:before {
  content: "\ec91";
}
.icon-sitemap:before {
  content: "\ec92";
}
.icon-skip-forward:before {
  content: "\ec93";
}
.icon-skip-forward-alt:before {
  content: "\ec94";
}
.icon-skip-forward-circle:before {
  content: "\ec95";
}
.icon-skype:before {
  content: "\ec96";
}
.icon-skype-alt:before {
  content: "\ec97";
}
.icon-slack:before {
  content: "\ec98";
}
.icon-slack-alt:before {
  content: "\ec99";
}
.icon-slider-h:before {
  content: "\ec9a";
}
.icon-slider-h-range:before {
  content: "\ec9b";
}
.icon-sliders-v:before {
  content: "\ec9c";
}
.icon-sliders-v-alt:before {
  content: "\ec9d";
}
.icon-smile:before {
  content: "\ec9e";
}
.icon-smile-beam:before {
  content: "\ec9f";
}
.icon-smile-dizzy:before {
  content: "\eca0";
}
.icon-smile-squint-wink:before {
  content: "\eca1";
}
.icon-smile-squint-wink-alt:before {
  content: "\eca2";
}
.icon-smile-wink:before {
  content: "\eca3";
}
.icon-smile-wink-alt:before {
  content: "\eca4";
}
.icon-snapchat-alt:before {
  content: "\eca5";
}
.icon-snapchat-ghost:before {
  content: "\eca6";
}
.icon-snapchat-square:before {
  content: "\eca7";
}
.icon-snow-flake:before {
  content: "\eca8";
}
.icon-snowflake:before {
  content: "\eca9";
}
.icon-snowflake-alt:before {
  content: "\ecaa";
}
.icon-social-distancing:before {
  content: "\ecab";
}
.icon-sort:before {
  content: "\ecac";
}
.icon-sort-amount-down:before {
  content: "\ecad";
}
.icon-sort-amount-up:before {
  content: "\ecae";
}
.icon-sorting:before {
  content: "\ecaf";
}
.icon-space-key:before {
  content: "\ecb0";
}
.icon-spade:before {
  content: "\ecb1";
}
.icon-sperms:before {
  content: "\ecb2";
}
.icon-spin:before {
  content: "\ecb3";
}
.icon-spinner:before {
  content: "\ecb4";
}
.icon-spinner-alt:before {
  content: "\ecb5";
}
.icon-square:before {
  content: "\ecb6";
}
.icon-square-full:before {
  content: "\ecb7";
}
.icon-square-shape:before {
  content: "\ecb8";
}
.icon-squint:before {
  content: "\ecb9";
}
.icon-star:before {
  content: "\ecba";
}
.icon-star-half-alt:before {
  content: "\ecbb";
}
.icon-step-backward:before {
  content: "\ecbc";
}
.icon-step-backward-alt:before {
  content: "\ecbd";
}
.icon-step-backward-circle:before {
  content: "\ecbe";
}
.icon-step-forward:before {
  content: "\ecbf";
}
.icon-stethoscope:before {
  content: "\ecc0";
}
.icon-stethoscope-alt:before {
  content: "\ecc1";
}
.icon-stop-circle:before {
  content: "\ecc2";
}
.icon-stopwatch:before {
  content: "\ecc3";
}
.icon-stopwatch-slash:before {
  content: "\ecc4";
}
.icon-store:before {
  content: "\ecc5";
}
.icon-store-alt:before {
  content: "\ecc6";
}
.icon-store-slash:before {
  content: "\ecc7";
}
.icon-streering:before {
  content: "\ecc8";
}
.icon-stretcher:before {
  content: "\ecc9";
}
.icon-subject:before {
  content: "\ecca";
}
.icon-subway:before {
  content: "\eccb";
}
.icon-subway-alt:before {
  content: "\eccc";
}
.icon-suitcase:before {
  content: "\eccd";
}
.icon-suitcase-alt:before {
  content: "\ecce";
}
.icon-sun:before {
  content: "\eccf";
}
.icon-sunset:before {
  content: "\ecd0";
}
.icon-surprise:before {
  content: "\ecd1";
}
.icon-swatchbook:before {
  content: "\ecd2";
}
.icon-swiggy:before {
  content: "\ecd3";
}
.icon-swimmer:before {
  content: "\ecd4";
}
.icon-sync:before {
  content: "\ecd5";
}
.icon-sync-exclamation:before {
  content: "\ecd6";
}
.icon-sync-slash:before {
  content: "\ecd7";
}
.icon-syringe:before {
  content: "\ecd8";
}
.icon-table:before {
  content: "\ecd9";
}
.icon-table-tennis:before {
  content: "\ecda";
}
.icon-tablet:before {
  content: "\ecdb";
}
.icon-tablets:before {
  content: "\ecdc";
}
.icon-tachometer-fast:before {
  content: "\ecdd";
}
.icon-tachometer-fast-alt:before {
  content: "\ecde";
}
.icon-tag:before {
  content: "\ecdf";
}
.icon-tag-alt:before {
  content: "\ece0";
}
.icon-tape:before {
  content: "\ece1";
}
.icon-taxi:before {
  content: "\ece2";
}
.icon-tear:before {
  content: "\ece3";
}
.icon-telegram:before {
  content: "\ece4";
}
.icon-telegram-alt:before {
  content: "\ece5";
}
.icon-telescope:before {
  content: "\ece6";
}
.icon-temperature:before {
  content: "\ece7";
}
.icon-temperature-empty:before {
  content: "\ece8";
}
.icon-temperature-half:before {
  content: "\ece9";
}
.icon-temperature-minus:before {
  content: "\ecea";
}
.icon-temperature-plus:before {
  content: "\eceb";
}
.icon-temperature-quarter:before {
  content: "\ecec";
}
.icon-temperature-three-quarter:before {
  content: "\eced";
}
.icon-tennis-ball:before {
  content: "\ecee";
}
.icon-text:before {
  content: "\ecef";
}
.icon-text-fields:before {
  content: "\ecf0";
}
.icon-text-size:before {
  content: "\ecf1";
}
.icon-text-strike-through:before {
  content: "\ecf2";
}
.icon-th:before {
  content: "\ecf3";
}
.icon-th-large:before {
  content: "\ecf4";
}
.icon-th-slash:before {
  content: "\ecf5";
}
.icon-thermometer:before {
  content: "\ecf6";
}
.icon-thumbs-down:before {
  content: "\ecf7";
}
.icon-thumbs-up:before {
  content: "\ecf8";
}
.icon-thunderstorm:before {
  content: "\ecf9";
}
.icon-thunderstorm-moon:before {
  content: "\ecfa";
}
.icon-thunderstorm-sun:before {
  content: "\ecfb";
}
.icon-ticket:before {
  content: "\ecfc";
}
.icon-times:before {
  content: "\ecfd";
}
.icon-times-circle:before {
  content: "\ecfe";
}
.icon-times-square:before {
  content: "\ecff";
}
.icon-toggle-off:before {
  content: "\ed00";
}
.icon-toggle-on:before {
  content: "\ed01";
}
.icon-toilet-paper:before {
  content: "\ed02";
}
.icon-top-arrow-from-top:before {
  content: "\ed03";
}
.icon-top-arrow-to-top:before {
  content: "\ed04";
}
.icon-tornado:before {
  content: "\ed05";
}
.icon-trademark:before {
  content: "\ed06";
}
.icon-trademark-circle:before {
  content: "\ed07";
}
.icon-traffic-barrier:before {
  content: "\ed08";
}
.icon-traffic-light:before {
  content: "\ed09";
}
.icon-transaction:before {
  content: "\ed0a";
}
.icon-trash:before {
  content: "\ed0b";
}
.icon-trash-alt:before {
  content: "\ed0c";
}
.icon-trees:before {
  content: "\ed0d";
}
.icon-triangle:before {
  content: "\ed0e";
}
.icon-trophy:before {
  content: "\ed0f";
}
.icon-trowel:before {
  content: "\ed10";
}
.icon-truck:before {
  content: "\ed11";
}
.icon-truck-loading:before {
  content: "\ed12";
}
.icon-tumblr:before {
  content: "\ed13";
}
.icon-tumblr-alt:before {
  content: "\ed14";
}
.icon-tumblr-square:before {
  content: "\ed15";
}
.icon-tv-retro:before {
  content: "\ed16";
}
.icon-tv-retro-slash:before {
  content: "\ed17";
}
.icon-twitter:before {
  content: "\ed18";
}
.icon-twitter-alt:before {
  content: "\ed19";
}
.icon-umbrella:before {
  content: "\ed1a";
}
.icon-underline:before {
  content: "\ed1b";
}
.icon-university:before {
  content: "\ed1c";
}
.icon-unlock:before {
  content: "\ed1d";
}
.icon-unlock-alt:before {
  content: "\ed1e";
}
.icon-upload:before {
  content: "\ed1f";
}
.icon-upload-alt:before {
  content: "\ed20";
}
.icon-usd-circle:before {
  content: "\ed21";
}
.icon-usd-square:before {
  content: "\ed22";
}
.icon-user:before {
  content: "\ed23";
}
.icon-user-arrows:before {
  content: "\ed24";
}
.icon-user-check:before {
  content: "\ed25";
}
.icon-user-circle:before {
  content: "\ed26";
}
.icon-user-exclamation:before {
  content: "\ed27";
}
.icon-user-location:before {
  content: "\ed28";
}
.icon-user-md:before {
  content: "\ed29";
}
.icon-user-minus:before {
  content: "\ed2a";
}
.icon-user-nurse:before {
  content: "\ed2b";
}
.icon-user-plus:before {
  content: "\ed2c";
}
.icon-user-square:before {
  content: "\ed2d";
}
.icon-user-times:before {
  content: "\ed2e";
}
.icon-users-alt:before {
  content: "\ed2f";
}
.icon-utensils:before {
  content: "\ed30";
}
.icon-utensils-alt:before {
  content: "\ed31";
}
.icon-vector-square:before {
  content: "\ed32";
}
.icon-vector-square-alt:before {
  content: "\ed33";
}
.icon-venus:before {
  content: "\ed34";
}
.icon-vertical-align-bottom:before {
  content: "\ed35";
}
.icon-vertical-align-center:before {
  content: "\ed36";
}
.icon-vertical-align-top:before {
  content: "\ed37";
}
.icon-vertical-distribute-bottom:before {
  content: "\ed38";
}
.icon-vertical-distribution-center:before {
  content: "\ed39";
}
.icon-vertical-distribution-top:before {
  content: "\ed3a";
}
.icon-video:before {
  content: "\ed3b";
}
.icon-video-question:before {
  content: "\ed3c";
}
.icon-video-slash:before {
  content: "\ed3d";
}
.icon-virus-slash:before {
  content: "\ed3e";
}
.icon-visual-studio:before {
  content: "\ed3f";
}
.icon-vk:before {
  content: "\ed40";
}
.icon-vk-alt:before {
  content: "\ed41";
}
.icon-voicemail:before {
  content: "\ed42";
}
.icon-voicemail-rectangle:before {
  content: "\ed43";
}
.icon-volleyball:before {
  content: "\ed44";
}
.icon-volume:before {
  content: "\ed45";
}
.icon-volume-down:before {
  content: "\ed46";
}
.icon-volume-mute:before {
  content: "\ed47";
}
.icon-volume-off:before {
  content: "\ed48";
}
.icon-volume-up:before {
  content: "\ed49";
}
.icon-vuejs:before {
  content: "\ed4a";
}
.icon-vuejs-alt:before {
  content: "\ed4b";
}
.icon-wall:before {
  content: "\ed4c";
}
.icon-wallet:before {
  content: "\ed4d";
}
.icon-watch:before {
  content: "\ed4e";
}
.icon-watch-alt:before {
  content: "\ed4f";
}
.icon-water:before {
  content: "\ed50";
}
.icon-water-drop-slash:before {
  content: "\ed51";
}
.icon-water-glass:before {
  content: "\ed52";
}
.icon-web-grid:before {
  content: "\ed53";
}
.icon-web-grid-alt:before {
  content: "\ed54";
}
.icon-web-section:before {
  content: "\ed55";
}
.icon-web-section-alt:before {
  content: "\ed56";
}
.icon-webcam:before {
  content: "\ed57";
}
.icon-weight:before {
  content: "\ed58";
}
.icon-whatsapp:before {
  content: "\ed59";
}
.icon-whatsapp-alt:before {
  content: "\ed5a";
}
.icon-wheel-barrow:before {
  content: "\ed5b";
}
.icon-wheelchair:before {
  content: "\ed5c";
}
.icon-wheelchair-alt:before {
  content: "\ed5d";
}
.icon-wifi:before {
  content: "\ed5e";
}
.icon-wifi-router:before {
  content: "\ed5f";
}
.icon-wifi-slash:before {
  content: "\ed60";
}
.icon-wind:before {
  content: "\ed61";
}
.icon-wind-moon:before {
  content: "\ed62";
}
.icon-wind-sun:before {
  content: "\ed63";
}
.icon-window:before {
  content: "\ed64";
}
.icon-window-grid:before {
  content: "\ed65";
}
.icon-window-maximize:before {
  content: "\ed66";
}
.icon-window-section:before {
  content: "\ed67";
}
.icon-windows:before {
  content: "\ed68";
}
.icon-windsock:before {
  content: "\ed69";
}
.icon-windy:before {
  content: "\ed6a";
}
.icon-wordpress-simple:before {
  content: "\ed6b";
}
.icon-wrap-text:before {
  content: "\ed6c";
}
.icon-wrench:before {
  content: "\ed6d";
}
.icon-x:before {
  content: "\ed6e";
}
.icon-x-add:before {
  content: "\ed6f";
}
.icon-yen:before {
  content: "\ed70";
}
.icon-yen-circle:before {
  content: "\ed71";
}
.icon-yin-yang:before {
  content: "\ed72";
}
.icon-youtube:before {
  content: "\ed73";
}
